.kimono-input {
    width: 100%;
    padding: 20px 10px ;
    margin: 10px 0;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color .3s;
    -webkit-box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    -webkit-appearance: none;
    transition: all .3s;
}

.kimono-input:focus {
    outline: none;
    -webkit-box-shadow: 1px 2px 19px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 19px 0px rgba(0, 0, 0, 0.2);
}

.kimono-button {
    width: 100%;
    padding: 20px 10px ;
    margin: 10px 0;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color .3s;
    text-transform: uppercase;
    -webkit-box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    background-color: rgb(239, 239, 239);
    height: auto;
    -webkit-appearance: none;
    transition: all .3s;
    text-decoration: none;
    text-align: center;
}

.kimono-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.kimono-buttons .kimono-button {
    width: auto;
    margin: 10px 10px;
}

.kimono-button.loading {
    cursor: progress;
}

.kimono-button:hover {
    -webkit-box-shadow: 1px 2px 19px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 19px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.kimono-hello {
    margin: 20px;
    -webkit-appearance: none;
}

.kimono-image {
    width: 100%;
    -webkit-appearance: none;
}

.kimono-image img {
    width: 100%;
    object-fit: cover;
}

.kimono-box {
    width: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    -webkit-box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    -webkit-appearance: none;
    text-decoration: none;
    transition: all .3s;
}

.kimono-box:hover {
    -webkit-box-shadow: 1px 2px 19px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 19px 0px rgba(0, 0, 0, 0.2);
}

.kimono-box-title * {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    text-decoration: underline;
}

.kimono-box-content {
    font-size: 1.2rem;
    margin: 0;
}

.kimono-box-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.kimono-joke {
    width: 80%;
    margin: 100px auto;
}

.kimono-joke h1.citation {
    margin: 50px 0;
}

.kimono-joke h1.citation::after {
    content: "J.F. Tassin";
    font-size: 1rem;
    opacity: 0.5;
    position: absolute;
    transform: translate(-60%, 2rem)
}

.kimono-center {
    margin: 50px auto;
}

.kimono-modal  {
    display: block;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    max-height: 50vh;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 17px;
    z-index: 9999;
    box-shadow: 1px 2px 19px 0px rgb(0 0 0 / 20%);
    backdrop-filter: blur(5px);
    animation: appear-opposite .5s cubic-bezier(0.44, 0.26, 0.6, 0.74);
    margin: auto;
    -webkit-appearance: none;
}

.kimono-modal.danger {
    background-color: var(--danger-lite);
    color: white;
}

.kimono-modal.success {
    background-color: #4b8f8c7f;
    color: white;
}

.kimono-modal.warning {
    background-color: var(--warning-lite);
    color: white;
}

.kimono-modal.info {
    background-color: var(--primary-lite);
    color: white;
}

.kimono-modal.hidden {
    animation: disappear .5s cubic-bezier(1, 1, 0, 1) forwards;
}

@keyframes disappear {
    0% {
        transform: translateY(0) translateX(-50%);
    }
    99% {
        transform: translateY(-150%) translateX(-50%);
    }
    100% {
        display: none;
        transform: translateY(-150%) translateX(-50%);
    }
}

@keyframes appear-opposite {
    0% {
        transform: translateY(-150%) translateX(-50%);
    }
    100% {
        transform: translateY(0) translateX(-50%);
    }
}

@media screen and (max-width: 768px) {
    @keyframes disappear {
        0% {
            transform: translateX(0);
        }
        99% {
            transform: translateX(-150%);
        }
        100% {
            display: none;
            transform: translateX(-150%);
        }
    }
    
    @keyframes appear-opposite {
        0% {
            transform: translateX(150%);
        }
        100% {
            transform: translateX(0);
        }
    }

    .kimono-modal {
        margin: 10px;
        width: calc(100% - 40px);
        left: 0;
        top: 0px;
        transform: none;
        padding: 10px;
    }

    .kimono-buttons {
        flex-direction: column;
    }

    .kimono-buttons .kimono-button {
        width: 100%;
        margin: 5px 0;
    }
}